<div class="prescription-wrapper">
  <form [formGroup]="form" (ngSubmit)="submitForm()" class="form">
    <div class="upload-container">
      <div [ngClass]="{ 'has-image': previewUrl }" class="upload-box">
        <input
          type="file"
          accept="image/*"
          (change)="onFileChange($event)"
          class="file-upload-input"
          formControlName="image"
        />

        <div *ngIf="!previewUrl" class="upload-placeholder">
          <mat-icon color="primary" fontIcon="photo_camera"></mat-icon>
          <span>Bild hochladen</span>
        </div>

        <!-- Vorschau des Bildes nach Auswahl -->
        <div *ngIf="previewUrl" class="preview-wrapper">
          <img [src]="previewUrl" alt="Vorschau" class="preview-image" />
          <button
            mat-icon-button
            type="button"
            (click)="removeImage()"
            aria-label="Bild entfernen"
            class="remove-image-btn"
          >
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <div class="flex-row">
      <mat-form-field appearance="outline">
        <mat-label>{{ "firstname" | translate }}</mat-label>
        <input matInput formControlName="firstname" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>{{ "lastname" | translate }}</mat-label>
        <input matInput formControlName="lastname" />
      </mat-form-field>
    </div>

    <div class="flex-row">
      <mat-form-field appearance="outline">
        <mat-label>{{ "street" | translate }}</mat-label>
        <input matInput formControlName="street" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>{{ "houseNumber" | translate }}</mat-label>
        <input matInput formControlName="houseNumber" />
      </mat-form-field>
    </div>

    <div class="flex-row">
      <mat-form-field appearance="outline">
        <mat-label>{{ "postalCode" | translate }}</mat-label>
        <input matInput formControlName="postalCode" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>{{ "city" | translate }}</mat-label>
        <input matInput formControlName="city" />
      </mat-form-field>
    </div>

    <div class="flex-row">
      <mat-form-field appearance="outline">
        <mat-label>{{ "email" | translate }}</mat-label>
        <input matInput type="email" formControlName="email" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>{{ "repeatEmail" | translate }}</mat-label>
        <input matInput type="email" formControlName="emailConfirm" />
      </mat-form-field>
    </div>

    <mat-form-field style="cursor: pointer">
      <mat-label>{{ "insurance" | translate }}</mat-label>
      <input
        type="text"
        placeholder="{{ 'plsSelect' | translate }}"
        matInput
        [formControlName]="'insurance'"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete
        #auto="matAutocomplete"
        [displayWith]="displayName"
      >
        @for (option of filteredOptions | async; track option.id) {
          <mat-option [value]="option">{{ option.name }}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>



    <label [innerHTML]="'formHint' | translate" class="form-hint"></label>

    <label>
      {{ "acceptTermAndConditions" | translate }}
    </label>

    <div class="submit-container">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="form.invalid"
      >
        {{ "send" | translate }}
      </button>
    </div>
  </form>
</div>
